<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

  <!--===============================================================================================-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--===============================================================================================-->
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <p></p>
      <div class="card">
        <div class="card-body">
          Nome do cliente: {{nomeCliente}}
        </div>
      </div>
    </nav>

    <br>

    <div class="container">
      <div class="row">
        <div class="col-1">
          <h3 class="text-center font-weight-bold">Orcamento</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8">
            <div class="card card-body">
             <p>{{descricaoOrcamento}}</p>
             <p>Problemas relatados pelo cliente a chegada:</p>
             <div id="problemasRelatados"></div>
             <br>
             <p>Tarefas necessarias para a reparacao:</p>
             <div id="tarefasNecessarias"></div>
            </div>
            <br>
            <div>       
              <h5>Previsao custo: {{valorOrcamento}}€</h5>   
              <br>  
              <button type="button" class="btn btn-dark">Aprovar</button> 
            </div>       
        </div>
        <div class="col-4">
          <div class="card card-body">
            <h3 style="font-style: italic;">Estado: {{estado}}</h3>
          </div>
          <br>
          <div class="card card-body">
            <p class="font-weight-light">Caso tenha alguma questao, por favor contacte:</p>
            <p> email: workshopManagerLDA@gmail.com</p>
            <p class="font-weight-light">ou</p>
            <p>255-744-218</p>
          </div>
        </div>
      </div>
    </div>

    <p id="problemasArray" hidden>{{problemaOrcamento}}</p>
    <p id="tarefasNecessarios" hidden>{{arrayTarefa}}</p>
  </body>

  <script>
    let problemasString = document.getElementById("problemasArray").innerHTML
    var divd = document.getElementById("problemasRelatados")
    var arrayProblemas = problemasString.split(',')

    let tarefasString = document.getElementById("tarefasNecessarios").innerHTML
    var arrayTarefas = tarefasString.split(',')
    var divd2 = document.getElementById("tarefasNecessarias")

    for (i = 0; i< arrayProblemas.length; i++) {
      divd.appendChild(document.createTextNode("-" + arrayProblemas[i]));
      divd.appendChild(document.createElement("br"))
    }

    for (i = 0; i< arrayTarefas.length; i++) {
      divd2.appendChild(document.createTextNode("-" + arrayTarefas[i]));
      divd2.appendChild(document.createElement("br"))
    }

  </script>
</html>